<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fakultas Teknologi Industri</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/css/docs.css" rel="stylesheet">
    <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="assets/ico/favicon.png">

  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="gunadarma.ac.id">Gunadarma</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="./index.html">Home</a>
              </li>
              <li class="">
                <a href="./profil.html">Profil</a>
              </li>
              <li class="">
                <a href="./program.html">Pilihan program</a>
              </li>
              <li class="">
                <a href="./berita.html">Berita</a>
              </li>
              <li class="">
                <a href="./kontak.html">Kontak kami</a>
              </li>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<!--<div class="jumbotron masthead">-->
  <div class="container">
  <div class="hero-unit">
         <!-- <h1>Hello, world!</h1>-->
  </div>
</div>

<div class="container">

  <div class="marketing">

    <h1>Welcome</h1>
    <p class="marketing-byline">Selamat Datang di website Fakultas Ekonomi Gunadarma</p>

    <div class="row-fluid">
      <div class="span6">
        <img class="marketing-img" src="assets/img/eko.png">
        <h2>Akuntansi</h2>
        <p>
		<small>The Bachelor of Accountancy (Hons) Programme was introduced in 1990, as we know that Gunadarma University is one of the famous and biggest University leading in Information and Communication Technology (ICT) in Indonesia. It has been designed with the objective of providing accounting education of professional level to meet the demands of both the public and private sectors..</p>
		</small>
		<p>
		<a href="http://fe.gunadarma.ac.id/akuntansi/" >
			<button class="btn btn-primary" type="button">Visit Site</button>
		</a>
		</p>
	  </div>
      <div class="span6">
        <img class="marketing-img" src="assets/img/man.png">
        <h2>Manajemen</h2>
        <p><small>Sejak lembaga Pendidikan Universitas Gunadarma dikukuhkan menjadi Universitas Gunadarma pada tahun 1996, pengelolaan program studi ilmu Ekonomi yang diselenggarakan oleh Sekolah Tinggi Ilmu Ekonomi (STIE) Gunadarma dialihkan ke dalam wadah Fakultas Ekonomi Universitas Gunadarma.<small></p>
		<p>
		<a href="http://fe.gunadarma.ac.id/manajemen/" >
			<button class="btn btn-primary" type="button">Visit Site</button>
		</a>
		</p>
	  </div>
    </div>

    <hr class="soften">
	<div class="news">
    <h1>News & Updates</h1>
    <p class="news-byline">Berita Terbaru<a href="#" target="_blank"> Studentsite</a>, <a href="#">BAAK</a>.</p>
	<div class="row-fluid">
		  <div class="span4">
		 <div class="well ">
			<p class="rss-titles" ><a href="http://studentsite.gunadarma.ac.id">Berita Studentsite</a></p>
			<iframe class="shadow" align="left" frameborder="0" src="http://studentsite.gunadarma.ac.id/news/news.php" width="100%" height="91%" scrolling="auto"> </iframe>
			</div><!--/.well -->
						
			<div class="wells">
			<script language="JavaScript" src="http://url.tutorialdigital.com/displayfeed/feed2js.php?src=http%3A%2F%2Fbaak.gunadarma.ac.id%2Ffeed%2F&amp;chan=y&amp;num=5&amp;date=y&amp;utf=y" charset="UTF-8" type="text/javascript"></script>
			<noscript>
			<a href="http://url.tutorialdigital.com/displayfeed/feed2js.php?src=http%3A%2F%2Fbaak.gunadarma.ac.id%2Ffeed%2F&amp;chan=y&amp;num=5&amp;date=y&amp;utf=y&amp;html=y">View RSS feed</a>
			</noscript>
			</div><!--/.wells -->
		  </div>
		  
		  
		  <div class="span8">
		  <h3><strong>Selamat Universitas Gunadarma sebagai PTS Unggulan 2012</strong></h3>
		  <p class="news-date"><small>Ditulis pada 17 Desember 2012 14:09 WIB</small><p>
		  <p><small>Selamat kepada Universitas Gunadarma untuk penghargaan sebagai Perguruan Tinggi Swasta Unggulan Kopertis Wilayah III Jakarta tahun 2012 atas capaian dalam peningkatan mutu institusi di bidang: Pengembangan Dosen dan Pemanfaatan Sumberdaya. Terimakasih kepada rekan-rekan dosen yang telah berpartisipasi dan mendukung UniversitaS..<small>
		  </P>
		  <p>
			  <button class="btn btn-mini" type="button">Read More</button>
		</p>
			<hr class="soften-news">
			<h3><strong>POMPROV DKI JAKARTA 2012</strong></h3>
			  <p class="news-date"><small>Ditulis pada 17 Desember 2012 14:09 WIB</small><p>
			  <p><small>Selamat kepada Universitas Gunadarma untuk penghargaan sebagai Perguruan Tinggi Swasta Unggulan Kopertis Wilayah III Jakarta tahun 2012 atas capaian dalam peningkatan mutu institusi di bidang: Pengembangan Dosen dan Pemanfaatan Sumberdaya. Terimakasih kepada rekan-rekan dosen yang telah berpartisipasi dan mendukung Universitas..
				</p></small>
				<p>
				  <button class="btn btn-mini" type="button">Read More</button>
				</p>
			<hr class="soften-news">
		  </div>
	</div>
   
  </div>
</div>
</div>



    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <p>Designed by <a href="#" target="_blank">Gunadarma University Computing Center</a></p>
        <ul class="footer-links">
			<li><a href="staffsite.gunadarma.ac.id">Staffsite</a></li>
			<li class="muted">&middot;</li>
			<li><a href="studentsite.gunadarma.ac.id">Studentsite</a></li>
			<li class="muted">&middot;</li>
			<li><a href="lpug.gunadarma.ac.id">LPUG</a></li>
			<li class="muted">&middot;</li>
          <li><a href="library.gunadarma.ac.id">Perpustakaan</a></li>
          <li class="muted">&middot;</li>
          <li><a href="ilab.gunadarma.ac.id">iLab</a></li>
          <li class="muted">&middot;</li>
        </ul>
      </div>
    </footer>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap-typeahead.js"></script>
    <script src="assets/js/bootstrap-affix.js"></script>

    <script src="assets/js/holder/holder.js"></script>
    <script src="assets/js/google-code-prettify/prettify.js"></script>

    <script src="assets/js/application.js"></script>



  </body>
</html>
